@font-face {
    font-family: "Get Schwifty";
    src: url(../fontes/get_schwifty.ttf);
}

html {
    font-family: "Get Schwifty", sans-serif;
    background-color: #ddd;
}

.container {
    max-width: 400px;
    background-color: #00ffff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    border-radius: 15px;
}


#main-content p {
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-style: italic;
    background-color: #25d366;
    padding: 10px;
}