@font-face {
    font-family: "Get Schwifty";
    src: url(../fontes/get_schwifty.ttf);
}

html {
    font-family: "Get Schwifty", sans-serif;
    background-color: #ddd;
}

.container {
    max-width: 400px;
    background-color: aqua;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    border-radius: 5px;
}

#main-content .photo {
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    border-radius: 50%;
}

#main-content p {
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    margin-top: 50px;
    font-style: italic;
    background-color: #25d366;
    padding: 10px;
}